<section>
    <br><br><br>
    <div style="text-align: center">
    <h1 class="text-success">Order Placed Successfuly</h1>
    <br> <br>
    <a href="/Order" class="btn btn-primary">View Order</a>
    </div>
    <a href="/" class="btn btn-success" style="width: 100%; margin-top: 308px;">Go To Shop</a> 
</section>